.h-bg-black {
    background-color: color('black') !important;
}

.h-bg-brand-deep {
    background-color: color('brand-deep') !important;
}

.h-bg-success {
    background-color: color('success') !important;
}
