$font-open-sans: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$font-dinot: 'DINOT', 'Helvetica', 'Arial', sans-serif;
$font-dinot-medium: 'DINOT-Medium', 'Helvetica', 'Arial', sans-serif;
$font-dinot-bold: 'DINOT-Bold', 'Helvetica', 'Arial', sans-serif;
