$wrapper-width-max: 1920px;


$wrapper-padding-xs: 15px;
$wrapper-padding-sm: 34px;
$wrapper-padding-md: 34px;
$wrapper-padding-lg: 42px;
$wrapper-padding-xl: 93px;
$wrapper-padding-xxl: 105px;


$grid-column-gap-xs: 15px;
$grid-column-gap-sm: 20px; // use for 'sm-up' breakpoints in the '_l-grid.scss'
// $grid-column-gap-md: 20px;
// $grid-column-gap-lg: 20px;
// $grid-column-gap-xl: 20px;
$grid-column-gap-xxl: 30px;
