// Motion
$motion-fast: cubic-bezier(0.3, 0.46, 0.45, 0.94) 0.2s;
$motion-ease: cubic-bezier(0.3, 0.46, 0.45, 0.94) 0.4s;
$motion-ease-panels: cubic-bezier(0.3, 0.46, 0.45, 0.94) 0.5s;
$motion-ease-in-out: ease-in-out 0.4s;
