.badges {
    position: absolute;
    top: 10px;
    left: 10px;

    @include media(md-down) {
        display: flex;
        flex-direction: column;
    }
}

.badge {
    font-family: $font-dinot-medium;
    font-size: 12px;
    line-height: 1.25;
    display: inline-flex;
    min-width: 25px;
    height: 25px;
    padding: 0 10px;
    align-items: center;
    text-transform: uppercase;
    background: color('black');
    color: color('white');

    &:not(:last-child) {
        @include media(lg-up) {
            margin-right: 5px;
        }

        @include media(md-down) {
            margin-bottom: 5px;
        }
    }

    [class*="icon-"] {
        &:before {
            color: color('white');
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    &__text {
        @include media(md-down) {
            display: none;
        }
    }

    &.m-eco {
        background: color('success');
    }

    &.m-sale {
        background: color('danger');
    }
}
