.badge {
    font-family: $font-dinot-medium;
    font-size: 12px;
    display: inline-flex;
    padding: 5px 10px;
    align-items: center;
    text-transform: uppercase;
    background: color('black');
    color: color('white');

    &:not(:last-child) {
        margin-right: 5px;
    }

    &.m-eco {
        background: color('success');
    }

    &.m-sale {
        background: color('black');
    }

    [class*=icon-] {
        margin-left: 5px;
    }
}
