.breadcrumbs {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: color('grey-deep');

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        @include media(md-down) {
            font-family: $font-dinot-medium;
            text-transform: uppercase;
        }

        &:not(:last-child),
        &:first-child {
            @include media(lg-up) {
                font-family: $font-dinot-medium;
                margin-right: 15px;
                text-transform: uppercase;
            }
        }

        &:not(:last-child) {
            @include media(md-down) {
                display: none;
            }
        }

        &:last-child {
            [class*="icon-"] {
                @include media(lg-up) {
                    display: none;
                }
            }
        }

        [class*="icon-"] {
            font-size: 15px;

            @include media(md-down) {
                order: -1;
                margin-right: 5px;
                transform: rotate(180deg);
            }

            @include media(lg-up) {
                margin-left: 15px;
            }
        }
    }
}
