.button-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(color('white'), 0.4);
    border: 1px solid color('grey-mid');

    &:hover {
        background-color: color('black');
        border-color: transparent;
        color: color('white');
    }

    &.m-disabled {
        pointer-events: none;
        background-color: rgba(color('white'), 0.4);
        border-color: color('grey-light');
        color: color('grey-light');
    }

    &.m-light {
        background-color: rgba(color('black'), 0.2);
        border-color: color('grey-light');
        color: color('white');

        &:hover {
            background-color: color('white');
            border-color: transparent;
            color: color('black');
        }

        &.m-disabled {
            background: rgba(color('black'), 0.2);
            border-color: color('grey-deep');
            color: color('grey-deep');
        }
    }

    &.m-left {
        transform: rotate(180deg);
    }

    &.m-top {
        transform: rotate(270deg);
    }

    &.m-bottom {
        transform: rotate(90deg);
    }
}
