.filter-box {

    $root: &;

    &__inner {
        @include grid;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-flow: dense;
    }

    &__action {
        flex-basis: 180px;
    }

    &__filter {
        grid-column: 1 / span 1;

        [class*="icon-"] {
            margin-right: 10px;
        }

        @include media(sm-down) {
            grid-column: 1 / span 6;
        }
    }

    &__sort {
        display: grid;
        justify-items: end;
        grid-column: 12 / span 1;
        position: relative;

        [class*="icon-"] {
            margin-left: 10px;
        }

        @include media(sm-down) {
            grid-column: 7 / span 6;
        }
    }

    &__select {
        font-family: $font-dinot-medium;
        font-size: 15px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        text-transform: uppercase;
        appearance: none;
        opacity: 0;
        cursor: pointer;

        &-label {
            position: relative;
            width: auto;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__labels {
        grid-column: 1 / span 12;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    [class*="btn-main-"] {
        @include media(xs) {
            min-width: 100%;
            width: 50%;
        }
    }

    &.m-sticky {
        border-bottom: 1px solid color('grey-light');

        #{$root}__inner {
            align-items: center;

            @include media(sm-down) {
                grid-column-gap: 0;
            }
        }

        #{$root}__action {
            display: flex;
            align-items: center;
            height: 100%;

            @include media(sm-down) {
                justify-content: center;
            }
        }

        #{$root}__labels {
            grid-column: 2 / span 10;
            margin-top: 0;
            margin-bottom: 0;

            @include media(sm-down) {
                display: none;
            }
        }

        #{$root}__filter {
            border-right: 1px solid color('grey-light');

            @include media(sm-down) {
                border-right: 0;
            }

            [class*="btn-main-"] {
                padding-left: 0;
            }
        }

        #{$root}__sort {
            border-left: 1px solid color('grey-light');

            [class*="btn-main-"] {
                padding-right: 0;
            }
        }

        [class*="btn-main-"] {
            min-width: auto;
            border: none;
        }
    }
}
