.mini-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include media (lg-up) {
        right: 0;
        padding-top: 15px;
        background: color('white');

        @include media(lg) {
            width: calc(430px + #{$wrapper-padding-lg});
        }

        @include media(xl) {
            width: calc(430px + #{$wrapper-padding-xl});
        }

        @include media(xxl) {
            width: calc(430px + #{$wrapper-padding-xxl});
        }
    }

    &__top {
        @include scroll();

        flex-grow: 1;
        overflow: auto;
        margin-right: 10px; //for a gap between the scroll-line and the right edge of a window
    }

    &__bottom {

    }

    &__tiles {
        padding-top: 15px;
        padding-left: 50px;
    }

    &__tile {
        margin-bottom: 30px;

        @include media(lg) {
            padding-right: calc(#{$wrapper-padding-lg} - 20px);  // 20px for a gap between the scroll-line and the right edge of a window
        }

        @include media(xl) {
            padding-right: calc(#{$wrapper-padding-xl} - 20px);
        }

        @include media(xxl) {
            padding-right: calc(#{$wrapper-padding-xxl} - 20px);
        }
    }

    &__order-summary {
        border-top: 1px solid color('grey-deep-light');
        padding: 30px 0 30px 50px;
        margin-top: auto;

        @include media(lg) {
            padding-right: $wrapper-padding-lg;
        }

        @include media(xl) {
            padding-right: $wrapper-padding-xl;
        }

        @include media(xxl) {
            padding-right: $wrapper-padding-xxl;
        }
    }
}
