.promo-box-secondary {

    $root: &;

    display: flex;

    @include media(md-down) {
        flex-direction: column;
    }

    &.m-vertical-center {
        @include media(lg-up) {
            align-items: center;
        }
    }

    &.m-gapped {

        #{$root}__picture {
            @include media(lg-up) {
                flex-basis: 50%;
            }
        }

        #{$root}__caption {
            @include media(xs) {
                padding-left: $wrapper-padding-xs;
                padding-right: $wrapper-padding-xs;
            }

            @include media(sm) {
                padding-left: $wrapper-padding-sm;
                padding-right: $wrapper-padding-sm;
            }

            @include media(lg-up) {
                padding: 0 0 0 120px;
            }
        }
    }

    &__picture {
        flex-shrink: 0;

        @include media(lg) {
            flex-basis: 54%;
        }

        @include media(xl-up) {
            flex-basis: 64%;
        }
    }

    &__caption {
        @include media(md-down) {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding-top: 40px;
        }

        @include media(md) {
            flex-direction: row;
            justify-content: space-between;
            padding-left: $wrapper-padding-md;
            padding-right: $wrapper-padding-md;
        }

        @include media(lg-up) {
            padding: 0 40px;
        }

        @include media(xxl) {
            padding: 0 60px;
        }
    }

    &__group {
        @include media(md-down) {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }
}
