.product-colors {

    $root: &;

    &__name {
        color: color('black');
        font-family: $font-dinot;
        font-size: 16px;
    }

    &__group {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__more {
        font-size: 12px;
    }
}
