.promo-box-secondary {
    $root: &;

    display: flex;

    @include media(md-down) {
        flex-direction: column;
    }

    @include media(lg) {
        gap: $grid-column-gap-lg;
    }

    @include media(xl) {
        gap: $grid-column-gap-xl;
    }

    @include media(xxl) {
        gap: $grid-column-gap-xxl;
    }

    &.m-vertical-center {
        @include media(lg-up) {
            align-items: center;
        }
    }

    &__picture {
        @include media(lg-up) {
            flex-grow: 1;
        }
    }

    &__caption {
        @include media(md-down) {
            display: flex;
            flex-direction: column;
            padding-top: 40px;
        }

        @include media(md) {
            flex-direction: row;
            justify-content: space-between;
            padding-left: $wrapper-padding-md;
            padding-right: $wrapper-padding-md;
        }

        @include media(lg-up) {
            flex-shrink: 0;
            flex-basis: 360px;
            padding: 0 $grid-column-gap-lg;
        }

        @include media(xl) {
            flex-basis: 460px;
            padding: 0 $grid-column-gap-xl;
        }

        @include media(xxl) {
            flex-basis: 522px;
            padding: 0 $grid-column-gap-xxl;
        }

        [class*="m-stick-right"] & {
            @include media(lg-up) {
                flex-basis: calc(360px + #{$wrapper-padding-lg});
            }

            @include media(xl) {
                flex-basis: calc(460px + #{$wrapper-padding-xl});
            }

            @include media(xxl) {
                flex-basis: calc(522px + #{$wrapper-padding-xxl});
            }
        }
    }

    &__group {
        @include media(md-down) {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }

    &.m-gapped {
        @include media(lg-up) {
            gap: 0;
        }

        #{$root}__caption {
            @include media(xs) {
                padding-left: $wrapper-padding-xs;
                padding-right: $wrapper-padding-xs;
            }

            @include media(sm) {
                padding-left: $wrapper-padding-sm;
                padding-right: $wrapper-padding-sm;
            }

            @include media(lg-up) {
                padding: 0 0 0 120px;
                flex-basis: 50%;
            }

            [class*="m-stick-left"] & {
                @include media(lg-up) {
                    flex-basis: calc(50% - #{$wrapper-padding-lg} / 2);
                }

                @include media(xl) {
                    flex-basis: calc(50% - #{$wrapper-padding-xl} / 2);
                }

                @include media(xxl) {
                    flex-basis: calc(50% - #{$wrapper-padding-xxl} / 2);
                }
            }

            [class*="m-stick-right"] & {
                @include media(lg-up) {
                    flex-basis: calc(50% + #{$wrapper-padding-lg} / 2);
                }

                @include media(xl) {
                    flex-basis: calc(50% + #{$wrapper-padding-xl} / 2);
                }

                @include media(xxl) {
                    flex-basis: calc(50% + #{$wrapper-padding-xxl} / 2);
                }
            }
        }
    }

    &.m-reverse {
        #{$root}__picture {
            order: 1;
        }

        #{$root}__caption {
            [class*="m-stick-left"] & {
                @include media(lg-up) {
                    flex-basis: calc(360px + #{$wrapper-padding-lg});
                }

                @include media(xl) {
                    flex-basis: calc(460px + #{$wrapper-padding-xl});
                }

                @include media(xxl) {
                    flex-basis: calc(522px + #{$wrapper-padding-xxl});
                }
            }

            [class*="m-stick-right"] & {
                @include media(lg-up) {
                    flex-basis: 360px;
                }

                @include media(xl) {
                    flex-basis: 460px;
                }

                @include media(xxl) {
                    flex-basis: 522px;
                }
            }
        }

        &.m-gapped {
            #{$root}__caption {
                padding: 0 120px 0 0;

                [class*="m-stick-left"] & {
                    @include media(lg-up) {
                        flex-basis: calc(50% + #{$wrapper-padding-lg} / 2);
                    }

                    @include media(xl) {
                        flex-basis: calc(50% + #{$wrapper-padding-xl} / 2);
                    }

                    @include media(xxl) {
                        flex-basis: calc(50% + #{$wrapper-padding-xxl} / 2);
                    }
                }

                [class*="m-stick-right"] & {
                    @include media(lg-up) {
                        flex-basis: calc(50% - #{$wrapper-padding-lg} / 2);
                    }

                    @include media(xl) {
                        flex-basis: calc(50% - #{$wrapper-padding-xl} / 2);
                    }

                    @include media(xxl) {
                        flex-basis: calc(50% - #{$wrapper-padding-xxl} / 2);
                    }
                }
            }
        }
    }
}
