.product-tile {
    &__image-link {
        display: block;
        position: relative;
        margin-bottom: 15px;
    }

    &__image {

        img {
            object-fit: cover;
        }
    }

    &__info-part {

    }

    &__labels {
        display: none;

        font-family: $font-dinot-medium;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 1.25;
        color: color('deep-brand');
        margin-bottom: 62px;
    }

    &__label {
        display: inline-flex;
        padding: 5px;
        border-bottom: 2px solid color('deep-brand');
        background: color('deep-brand-opacity');

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__colors {
        margin-bottom: 15px;

        .product-colors {
            &__name {
                display: none;
            }

            &__list {
                max-width: 140px;
                overflow: hidden;

                @include media(md-up) {
                    max-width: 175px;
                }

                &.m-full-width {
                    max-width: none;
                    overflow: visible;

                    & ~ .product-colors__more {
                        display: none;
                    }
                }
            }
        }
    }

    &__description {
        font-family: $font-dinot-medium;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 10px;
    }

    &__price {

    }

    &__actions {
        display: none;
        align-items: center;
        margin-top: auto;

        [class*="btn-main"] {
            flex-grow: 1;
        }

        .product-icons {
            position: static;
            width: 40px;
            height: 40px;
            margin-left: 15px;
        }
    }

    .m-feature & {
        @include media(xl-up) {
            display: flex;

            &__image-link {
                flex-basis: 50%;
                flex-shrink: 1;
                margin-bottom: 0;
            }

            &__info-part {
                display: flex;
                flex-direction: column;
                padding-top: 40px;
                padding-right: 40px;
                padding-bottom: 40px;

                @include media(xl) {
                    padding-left: $wrapper-padding-xl;
                }

                @include media(xxl) {
                    padding-left: $wrapper-padding-xxl;
                }
            }

            &__labels {
                display: inline-flex;
            }

            &__title {
                font-family: $font-dinot-medium;
                font-size: 30px;
                line-height: 1.17;

                order: 1;
            }

            &__description {
                font-family: $font-dinot;
                margin-bottom: 30px;

                order: 2;
            }

            &__colors {
                margin-bottom: 30px;

                order: 3;
            }

            .product-colors__list {
                max-width: 180px;
            }

            &__price {
                font-size: 20px;
                order: 4;
            }

            &__actions {
                display: flex;

                order: 5;
            }

            .swatch {
                width: swatch($swatch-size-default, $swatch-shadow-first-default);
                height: swatch($swatch-size-default, $swatch-shadow-first-default);
                margin: $swatch-shadow-first-default; //to fullfill the size
                box-shadow: 0 0 0 $swatch-shadow-second-default color('white'), 0 0 0 $swatch-shadow-first-default color('grey-light');


                &:after {
                    height: $swatch-size-default + $swatch-shadow-first-default;
                }

                &:hover {
                    box-shadow: 0 0 0 ($swatch-shadow-second-default - 1px) color('white'), 0 0 0 $swatch-shadow-first-default color('grey');
                }

                &.selected {
                    box-shadow: 0 0 0 ($swatch-shadow-second-default - 1px) color('white'), 0 0 0 $swatch-shadow-first-default color('black');
                }

                &.disabled {
                    box-shadow: 0 0 0 ($swatch-shadow-second-default - 1px) color('white'), 0 0 0 $swatch-shadow-first-default color('grey');
                }
            }
        }
    }
}
