.quote-banner {
    @include media(md-up) {
        display: grid;
        grid-template-columns: repeat(12, 12fr);
    }

    @include media(md) {
        grid-template-rows: repeat(2, auto);
    }

    @include media(md-down) {
        padding: 30px 0;
    }

    @include media(lg-up) {
        padding: 60px 0;
    }

    &__sign {
        @include media(sm-down) {
           margin-bottom: 30px;
        }

        @include media(md-up) {
            grid-column: 1 / span 2;
        }
    }

    &__name {
        @include media(lg-up) {
            grid-column: 3 / span 7;
        }

        @include media(md) {
            grid-column: 3 / span 10;
        }
    }

    &__title {
        font-style: italic;

        @include media(md-down) {
            font-size: 28px;
            line-height: 1.07;;
        }

        @include media(lg-up) {
            font-size: 40px;
            line-height: 1.13;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 1.39;
        margin-top: 20px;
    }

    &__action {
        @include media(md-down) {
            margin-top: 30px;
        }

        @include media(md) {
            grid-column: 3 / span 10;
        }

        @include media(lg-up) {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            grid-column: 10 / span 3;
        }

        [class*='link'] {
            font-family: $font-dinot-bold;
        }
    }
}
