.save-in-wishlist {

    $root: &;
    font-size: 15px;
    color: color('black');
    display: flex;
    align-items: center;
    justify-content: center;


    [class*="icon"] {
        cursor: pointer;
        font-size: 20px;
    }

    &__button {
        display: flex;
        align-items: center;
        font-size: 15px;
        cursor: pointer;

        &.m-added {
            #{$root}__icon {
                &.m-default {
                    display: none;
                }

                &.m-added {
                    display: block;
                }
            }
        }
    }

    &__icon {
        display: flex;
        padding-right: 10px;

        &.m-added {
            display: none;
        }
    }

    &__text {
        font-family: $font-dinot-medium;
        text-transform: uppercase;
    }

    &.m-without-text {
        #{$root}__text {
            display: none;
        }

        #{$root}__icon {
            padding: 10px;
        }
    }
}
