.search-suggestion {
    @include media(lg-up) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 2;
    }

    &__top {
        @include media(lg-up) {
            grid-column: 2 / span 10;
            padding: 40px 0;
            border-bottom: 1px solid color('grey-deep-light');
        }
    }

    &__form {
        display: flex;
        align-items: center;
    }

    .form__section {
        position: relative;
        flex-grow: 1;

        @include media(lg-up) {
            margin-bottom: 0;
        }

        .input-main {
            padding: 0 45px;
        }

        .icon-m-search {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            font-size: 20px;
        }

        .icon-m-close {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            font-size: 20px;
        }
    }

    &__cancel {
        font-family: $font-dinot-medium;
        font-size: 15px;
        margin-left: 20px;
        text-transform: uppercase;
    }

    &__bottom {
        @include media(lg-up) {
            grid-column: 2 / span 11;
            padding: 30px 0 40px;
        }
    }

    &__quick-links {

    }

    &__suggestion {
        display: flex;
    }
}
