.socials {

    $root: &;

    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;

    &__item {
        &:not(:last-child) {
            margin-right: 12px;

            @include media(md-up) {
                margin-right: 20px;
            }

            @include media(xl-up) {
                margin-right: 30px;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        font-size: 20px;
        text-decoration: none;
        border-radius: 50%;
        background: color('white');
        color: color('black');
        overflow: hidden;
        transition: all $motion-ease;

        &:hover {
            color: color('white');
            background: color('brand');
        }
    }

    &.m-inverse {
        #{$root}__link {
            background: color('black');
            color: color('white');

            &:hover {
                color: color('white');
                background: color('brand');
            }
        }
    }

    &.m-bordered {
        #{$root}__link {
            border: 1px solid color('grey-light');

            &:hover {
                border-color: color('brand');
            }
        }
    }
}
