.subscribe {
    &__check {
        margin-top: 20px;
    }

    &__title {
        font-family: $font-dinot-medium;
        font-size: 25px;
        margin-bottom: 20px;
        line-height: 1.17;

        grid-area: subscribe-title;

        @include media(lg-up) {
            font-size: 30px;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;

        &-input-wrapper {
            flex-grow: 1;
            margin-right: 15px;

            @include media(md-up) {
                margin-right: 20px;
            }
        }

        .input-main {
            background: color('white');
        }

        .input-submit-icon {
            @include media(lg-up) {
                display: none;
            }
        }

        .input-submit-text {
            display: none;

            @include media(lg-up) {
                display: block;
            }
        }
    }

    &__check {
        .checkmark {
            background-color: rgba(0, 0, 0, 0.2);
            background-image: none;
            border: 1px solid gray;
        }

        &-description {
            position: relative;
            padding-left: 10px;

            &::before {
                content: '*';
                position: absolute;
                top: 2px;
                left: 0;
                color: color('danger');
            }
        }
    }

    &__radio-group {
        margin-top: 35px;
        padding-bottom: 20px;
        border-bottom: 1px solid color('white');
    }

    .privacy-policy {
        text-decoration: underline;
    }
}

.subscribe-group {
    grid-area: subscribe;
}
