.light {
    .radio {        
        &__item {       
    
            input {  
                &:checked ~ .radiomark {                
                    border: 2px solid $black;               
                } 
                
                &:disabled ~ .radiomark {  
                    border: 2px solid $grey;              
                    background: $grey-light; 
                }  
            }

            &:not(&.error):hover  ~ .radiomark {
                border: 2px solid $grey-deep;
            }    
    
            &:hover {
                input:checked  ~ .radiomark {
                    border: 2px solid $black;
                }
            }             
        }

        .radiomark {    
            &:after {                
                background: $black;
            }
        }
    }
}
