$buttons-main-type: ('outlined', 'filled');
$buttons-main-theme: ('dark');

@mixin button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    user-select: none;
    text-decoration: none;
    vertical-align: top;
    transition: $motion-ease;
    transition-property: background-color, border-color, color;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}


@mixin button-main {
    @include button;

    font-family: $font-dinot-medium;
    font-size: 15px;
    text-transform: uppercase;
    min-width: 160px;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid transparent;

    &:focus {
        outline: 2px solid #0086bf;
        outline-offset: 2px;
    }
}

@mixin button-main-type-and-theme($type, $theme: 'default') {
    @if ($type == 'outlined') {
        @if ($theme == 'default') {
            color: #000000;
            background-color: transparent;
            border-color: #e3e3e3;

            &:hover {
                color: #ffffff;
                background-color: #5c6573;
                border-color: #5c6573;
            }

            &:disabled,
            &.m-disabled {
                color: #a1a8b2;
                border-color: #f1f1f1;
                pointer-events: none;
            }
        }

        @if ($theme == 'dark') {
            color: #ffffff;
            background-color: transparent;
            border-color: #5c6573;

            &:hover {
                color: #000000;
                background-color: #ffffff;
                border-color: #ffffff;
            }

            &:focus {
                outline-color: #ffffff;
            }

            &:disabled,
            &.m-disabled {
                color: #a1a8b2;
                border-color: #5c6573;
                pointer-events: none;
            }
        }
    }

    @if ($type == 'filled') {
        @if ($theme == 'default') {
            color: #ffffff;
            background-color: #000000;

            &:hover {
                background-color: #5c6573;
            }

            &:disabled,
            &.m-disabled {
                background-color: #a1a8b2;
                pointer-events: none;
            }
        }
        @if ($theme == 'dark') {
            color: #000000;
            background-color: #e3e3e3;

            &:hover {
                background-color: #ffffff;
            }

            &:focus {
                outline-color: #ffffff;
            }

            &:disabled,
            &.m-disabled {
                color: #a1a8b2;
                background-color: #5c6573;
                pointer-events: none;
            }
        }
    }

    @if index($buttons-main-type, $type) == null {
        @warn 'Invalid argumment $type: `#{$type}`. Possible types: [#{$buttons-main-type}]';
    }
}

@each $type in $buttons-main-type {
    .btn-main-#{$type} {
        @include button-main;
        @include button-main-type-and-theme($type);
    }
}

@each $type in $buttons-main-type {
    @each $theme in $buttons-main-theme {
        .theme-#{$theme} {
            .btn-main-#{$type} {
                @include button-main-type-and-theme($type, $theme);
            }
        }
    }
}

[class*='btn-main'] {
    [class*="icon-"] {
        font-size: 20px;

        &.m-margin-left {
            margin-left: 10px;
        }

        &.m-margin-right {
            margin-right: 10px;
        }
    }

    &.m-fluid {
        width: 100%;
    }

    &.m-fluid-sm {
        @include media(sm) {
            width: 100%;
        }
    }

    &.m-fluid-md-down {
        @include media(md-down) {
            width: 100%;
            min-width: 0
        }
    }
}

// Custom buttons


// 3rd party buttons
