$inputs: ('main' 'select');
$inputs-theme: ('dark');

@mixin input-text {
    display: block;
    appearance: none;
    background: none;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    vertical-align: baseline;
    height: 50px;
    line-height: 50px;
    width: 100%;
    transition: $motion-ease;
    transition-property: border-color;

    &::placeholder {
        font-size: inherit;
        color: color('grey-mid');
    }

    &:focus {
        outline: none;
    }
}

@mixin input($type, $theme: 'default') {
    @if ($type == 'main') {
        @if ($theme == 'default') {
            cursor: text;
            padding: 0 15px;
            transition: $motion-ease;
            transition-property: box-shadow, border-color, color;
            box-shadow: inset 0 -1px 0 0 transparent;
            color: color('black');
            background-color: color('white');
            border: 1px solid color('grey-light');
        }
        @if ($theme == 'dark') {
            color: color('white');
            background-color: rgba(0, 0, 0, .2);
            border: 1px solid color('grey-deep');
        }

        &:hover {
            @if ($theme == 'default') {
                border-bottom: 1px solid color('grey-mid');
                box-shadow: inset 0 -1px 0 0 color('grey-mid');
            }
        }

        &:focus {
            @if ($theme == 'default') {
                border-bottom: 1px solid color('black');
                box-shadow: inset 0 -1px 0 0 color('black');
            }
            @if ($theme == 'dark') {
                border-bottom: 1px solid color('white');
                box-shadow: inset 0 -1px 0 0 color('white');
                color: color('white')
            }
        }

        &:disabled,
        &.m-disabled {
            @if ($theme == 'default') {
                pointer-events: none;
                border-color: transparent;
                box-shadow: inset 0 -1px 0 0 transparent;
                color: color('grey');
                background-color: rgba(161, 168, 170, .2);
            }
            @if ($theme == 'dark') {
                border-color: rgba(0, 0, 0, 0.2);
                color: color('grey-deep');
                background-color: rgba(0, 0, 0, 0.2);
            }

            &::placeholder {
                @if ($theme == 'default') {
                    color: color('grey-mid');
                }
                @if ($theme == 'dark') {
                    color: color('grey-deep');
                }
            }
        }
    }

    @if ($type == 'select') {
        @if ($theme == 'default') {
            background-repeat: no-repeat;
            background-position: right 15px center;
            padding-right: 40px;
            padding-left: 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            border: 1px solid color('grey-light');
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M17.578 5.875c-.087-.087-.19-.156-.305-.204-.114-.047-.236-.071-.36-.071-.123 0-.246.024-.36.071-.114.048-.218.117-.305.204l-6.25 6.25-6.25-6.25c-.087-.087-.19-.156-.305-.204-.114-.047-.236-.071-.36-.071-.123 0-.246.024-.36.071-.114.048-.218.117-.305.204-.163.183-.253.42-.253.665 0 .245.09.482.253.665l6.92 6.91c.086.088.189.159.302.207.113.048.235.072.358.072s.245-.024.359-.072c.113-.048.215-.118.301-.207l6.92-6.91c.163-.183.253-.42.253-.665 0-.245-.09-.482-.253-.665z'/%3E%3C/svg%3E%0A");
        }
        @if ($theme == 'dark') {
            border: 1px solid color('grey-deep');
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='M17.578 5.875c-.087-.087-.19-.156-.305-.204-.114-.047-.236-.071-.36-.071-.123 0-.246.024-.36.071-.114.048-.218.117-.305.204l-6.25 6.25-6.25-6.25c-.087-.087-.19-.156-.305-.204-.114-.047-.236-.071-.36-.071-.123 0-.246.024-.36.071-.114.048-.218.117-.305.204-.163.183-.253.42-.253.665 0 .245.09.482.253.665l6.92 6.91c.086.088.189.159.302.207.113.048.235.072.358.072s.245-.024.359-.072c.113-.048.215-.118.301-.207l6.92-6.91c.163-.183.253-.42.253-.665 0-.245-.09-.482-.253-.665z'/%3E%3C/svg%3E%0A");
            color: color('white');
        }

        &:focus {
            @if ($theme == 'default') {
                border-bottom: 1px solid color('black');
                box-shadow: inset 0 -1px 0 0 color('black');
            }
            @if ($theme == 'dark') {
                border-bottom: 1px solid color('white');
                box-shadow: inset 0 -1px 0 0 color('white');
            }
        }
    }

    @if index($inputs, $type) == null {
        @warn 'Invalid argumment $type: `#{$type}`. Possible types: [#{$inputs}]';
    }
}

@mixin input-invalid {
    border-bottom: 1px solid color('danger');
    box-shadow: inset 0 -1px 0 0 color('danger');
}

@each $type in $inputs {
    .input-#{$type} {
        @include input-text;
        @include input($type);

        &.m-invalid {
            @include input-invalid;
        }
    }
}

@each $type in $inputs {
    @each $theme in $inputs-theme {
        .theme-#{$theme} {
            .input-#{$type} {
                @include input($type, $theme);

                &.m-invalid {
                    @include input-invalid;
                }
            }
        }
    }
}
