$links-main-type: ('primary', 'secondary', 'underline');
$links-main-theme: ('dark');

@mixin link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;

    &:hover,
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}

@mixin link-main-type($type, $theme: 'default') {
    @include link;

    &.disabled {
        opacity: .4;
        cursor: default;
        pointer-events: none;
    }

    &:focus {
        outline: 2px solid color('brand');
        outline-offset: 2px;
    }

    @if ($type == 'primary') {
        font-family: $font-dinot-medium;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;

        [class*='icon'] {
            font-size: 20px;
        }
    }

    @if ($type == 'secondary') {
        font-family: $font-open-sans;
        font-size: 14px;
        line-height: 20px;

        &:hover {
            font-weight: 600;
        }
    }

    @if ($type == 'underline') {
        font-family: $font-open-sans;
        font-size: inherit;
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
            font-weight: 600;
        }

        &:focus {
            text-decoration: underline;
        }
    }

    @if index($links-main-type, $type) == null {
        @warn 'Invalid argumment $type: `#{$type}`. Possible types: [#{$links-main-type}]';
    }
}

@each $type in $links-main-type {
    .link-#{$type} {
        @include link-main-type($type);
    }
}

@each $type in $links-main-type {
    @each $theme in $links-main-theme {
        .theme-#{$theme} {
            .link-#{$type} {
                @include link-main-type($type, $theme);
            }
        }
    }
}

[class*='link'] {
    [class*="icon-"] {
        font-weight: inherit;
        vertical-align: text-bottom;

        &.m-margin-left {
            margin-left: 10px;
        }

        &.m-margin-right {
            margin-right: 10px;
        }
    }
}
