$radio-theme: ('dark');

@mixin radio-theme($theme: 'default') {

    $radio-size: 24px;

    .radio {
        display: inline-flex;

        @if ($theme == 'dark') {
            color: color('white');
        }

        $root: &;

        &--column {
            flex-direction: column;

            #{$root}__item {
                margin-bottom: 20px;
            }
        }

        &--row {
            #{$root}__item {
                margin-bottom: 12px;
            }
        }

        &__item {
            display: inline-flex;
            position: relative;
            padding-left: calc(#{$radio-size} + 10px);
            cursor: pointer;
            font-size: 14px;
            user-select: none;

            &.m-disabled {
                cursor: default;
                pointer-events: none;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                transition: all .2s ease;

                &:checked ~ .radiomark:before {
                    content: '\ea54';

                    @if ($theme == 'default') {
                        color: color('black');
                    }

                    @if ($theme == 'dark') {
                       color: color('white');
                    }
                }

                &:disabled ~ .radiomark:before {
                    content: '\e919';
                }
            }

            &:not(&.error):hover input:not(:disabled) ~ .radiomark:before {
                content: '\ea56';

                @if ($theme == 'default') {
                   color: color('grey-deep');
                }

                @if ($theme == 'dark') {
                    color: color('white');
                }
            }

            &:not(&.error):hover
                input:checked  ~ .radiomark:before {
                    content: '\ea54';

                @if ($theme == 'default') {
                    color: color('black');
                }

                @if ($theme == 'dark') {
                    color: color('white');
                }
            }

            &.error {
                input {
                    & ~ .radiomark:before {
                        content: '\ea56';
                        color: color('danger');
                    }
                }
            }
        }

        .radiomark {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: $radio-size;
            width: $radio-size;
            transition: all .2s ease;

            &:before {
                content: '\e918';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: $radio-size;
                color: color('grey-light');
                transition: all .2s ease;
            }
        }
    }
}

@include radio-theme;

@each $theme in $radio-theme {
    .theme-#{$theme} {
        @include radio-theme($theme);
    }
}

.inputs-container {
    width: 800px;
    margin: 0 auto;
    padding: 24px;
    font-family: "Open-Sans", sans-serif;
}
