.theme-dark {
    background-color: color('black');
    color: color('white');
}

.theme-deep-brand {
    background-color: color('deep-brand');
    color: color('white');
}

.theme-success {
    background-color: color('success');
    color: color('white');
}
