@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    display: inline-block;
    font-family: 'icomoon' !important;
    speak: never;
    color: inherit;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  //icon-dynamic - the class name for those situations, when we just want to operate with the icon's content, not a class

  .icon-badge-eco:before {
    content: "\e900";
    color: #0d875e;
  }
  .icon-check:before {
    content: "\e901";
    color: rgb(13, 135, 94);
  }
  .icon-check:after {
    content: "\e902";
    margin-left: -0.7001953125em;
    color: rgb(255, 255, 255);
  }
  .icon-burger:before {
    content: "\e903";
  }
  .icon-chevron:before {
    content: "\e904";
    color: rgb(203, 204, 204);
  }
  .icon-chevron:after {
    content: "\e905";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-close:before {
    content: "\e906";
  }
  .icon-error:before {
    content: "\e907";
    color: rgb(214, 21, 53);
  }
  .icon-error:after {
    content: "\e908";
    margin-left: -0.7001953125em;
    color: rgb(255, 255, 255);
  }
  .icon-filter:before {
    content: "\e909";
  }
  .icon-location:before {
    content: "\e90a";
  }
  .icon-message:before {
    content: "\e90b";
  }
  .icon-search:before {
    content: "\e90c";
  }
  .icon-share:before {
    content: "\e90d";
  }
  .icon-sort:before {
    content: "\e90e";
  }
  .icon-star-half:before {
    content: "\e90f";
  }
  .icon-star:before {
    content: "\e910";
    color: #e5923f;
  }
  .icon-arrow-left:before {
    content: "\e911";
  }
  .icon-arrow-right:before {
    content: "\e912";
  }
  .icon-arrow-top:before {
    content: "\e913";
  }
  .icon-cart-filled:before {
    content: "\e914";
    color: rgb(0, 0, 0);
  }
  .icon-cart-filled:after {
    content: "\e915";
    margin-left: -1em;
    color: rgb(1, 126, 180);
  }
  .icon-heart:before {
    content: "\e916";
  }
  .icon-heart-filled:before {
    content: "\e917";
  }
  .icon-user:before {
    content: "\e918";
  }
  .icon-user-filled:before {
    content: "\e919";
  }
  .icon-cart:before {
    content: "\e91a";
  }
  .icon-sale-percents .path1:before {
    content: "\e91b";
    color: rgb(255, 255, 255);
  }
  .icon-sale-percents .path2:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-sale-percents .path3:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-mail:before {
    content: "\e91e";
  }
  .icon-arrow-down:before {
    content: "\e91f";
  }
  .icon-payments-amex:before {
    content: "\e920";
    color: #717272;
  }
  .icon-payments-mastercard:before {
    content: "\e921";
    color: #717272;
  }
  .icon-payments-paypal:before {
    content: "\e922";
    color: #717272;
  }
  .icon-paymentsr-sofort:before {
    content: "\e923";
    color: #717272;
  }
  .icon-payments-visa:before {
    content: "\e924";
    color: #717272;
  }
  .icon-star-empty:before {
    content: "\e925";
    color: #e5923f;
  }
  .icon-s-close:before {
    content: "\e926";
  }
  .icon-s-arrow-right:before {
    content: "\e927";
  }
  .icon-s-mail-filled:before {
    content: "\e928";
  }
  .icon-s-minus:before {
    content: "\e929";
  }
  .icon-s-plus:before {
    content: "\e92a";
  }
  .icon-size:before {
    content: "\e92b";
  }
  .icon-smm-fb:before {
    content: "\e92c";
  }
  .icon-smm-instagram:before {
    content: "\e92d";
  }
  .icon-smm-linkedin:before {
    content: "\e92e";
  }
  .icon-smm-strava:before {
    content: "\e92f";
  }
  .icon-smm-youtube:before {
    content: "\e930";
  }
