@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    display: inline-block;
    font-family: 'icomoon' !important;
    speak: never;
    color: inherit;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  //icon-dynamic - the class name for those situations, when we just want to operate with the icon's content, not a class

  .icon-payment-sofort:before {
    content: "\e91d";
    color: #5c6573;
  }
  .icon-payment-paypal:before {
    content: "\e91e";
    color: #5c6573;
  }
  .icon-payment-amex:before {
    content: "\e91f";
    color: #5c6573;
  }
  .icon-payment-master-card:before {
    content: "\e920";
    color: #5c6573;
  }
  .icon-payment-visa:before {
    content: "\e921";
    color: #5c6573;
  }
  .icon-social-strava:before {
    content: "\e918";
  }
  .icon-social-linkedin:before {
    content: "\e919";
  }
  .icon-social-youtube:before {
    content: "\e91a";
  }
  .icon-social-instagram:before {
    content: "\e91b";
  }
  .icon-social-facebook:before {
    content: "\e91c";
  }
  .icon-badges-eco:before {
    content: "\e900";
    color: #00856c;
  }
  .icon-m-arrow-down:before {
    content: "\e901";
  }
  .icon-m-arrow-left:before {
    content: "\e902";
  }
  .icon-m-arrow-right:before {
    content: "\e903";
  }
  .icon-m-arrow-up:before {
    content: "\e904";
  }
  .icon-m-burger:before {
    content: "\e905";
  }
  .icon-m-close:before {
    content: "\e906";
  }
  .icon-m-error:before {
    content: "\e907";
    color: rgb(229, 23, 85);
  }
  .icon-m-error:after {
    content: "\e908";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-m-filter:before {
    content: "\e909";
  }
  .icon-m-location:before {
    content: "\e90a";
  }
  .icon-m-message:before {
    content: "\e90b";
  }
  .icon-m-search:before {
    content: "\e90c";
  }
  .icon-m-sort:before {
    content: "\e90d";
  }
  .icon-m-bag-filled:before {
    content: "\e90e";
  }
  .icon-m-bag:before {
    content: "\e90f";
  }
  .icon-m-heart-filled:before {
    content: "\e910";
  }
  .icon-m-heart:before {
    content: "\e911";
  }
  .icon-m-profile-filled:before {
    content: "\e912";
  }
  .icon-m-profile:before {
    content: "\e913";
  }
  .icon-s-close:before {
    content: "\e914";
  }
  .icon-s-divider-breadcrumbs:before {
    content: "\e915";
  }
  .icon-s-minus:before {
    content: "\e916";
  }
  .icon-s-plus:before {
    content: "\e917";
  }
