$white: #fff;
$black: #000;

$grey: #A1A8B2 !default;
$grey-light: #E3E3E3 !default;
$grey-super-light: #F1F1F1 !default;
$grey-deep: #5C6573 !default;

$blue-deep: #132D40 !default;
$danger: #E51755 !default;
$success: #00856C !default;
