//headings

.h {
    font-family: $font-dinot-medium;
    margin-bottom: 36px;

    @include media(md-up) {
        margin-bottom: 68px;
    }
}

.h1 {
    font-family: $font-dinot-bold;
    font-size: 28px;
    text-transform: uppercase;

    @include media(md-up) {
        font-size: 40px;
    }
}

.h2 {
    font-size: 25px;
    text-transform: uppercase;

    @include media(md-up) {
        font-size: 35px;
    }
}

.h3 {
    font-size: 25px;
    text-transform: capitalize;
}

.h4 {
    font-size: 20px;
    text-transform: capitalize;
}
