$links-main-type: ('primary', 'secondary', 'underline');
$links-main-theme: ('dark');

@mixin link-main-type($type, $theme: 'default') {
    @include link;

    &.disabled {
        opacity: .4;
        cursor: default;
        pointer-events: none;
    }

    &:focus {
        outline: 2px solid #0086bf;
        outline-offset: 2px;
    }

    @if ($type == 'primary') {
        font-family: $font-dinot-medium;
        text-transform: uppercase;
    }

    @if ($type == 'secondary') {
        font-family: $font-open-sans;

        &:hover {
            font-weight: 600;
        }
    }

    @if ($type == 'underline') {
        font-family: $font-open-sans;
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
            font-weight: 600;
        }

        &:focus {
            text-decoration: underline;
        }
    }

    @if index($links-main-type, $type) == null {
        @warn 'Invalid argumment $type: `#{$type}`. Possible types: [#{$links-main-type}]';
    }
}
