.footer-copyright {
    &__title {
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 20px;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}
