.footer-comunity {
    font-family: $font-dinot-medium;
    position: relative;
    height: 100%;
    padding: 0 20px 30px 20px;
    background: color('grey-light');

    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
                "comunity-text"
                "comunity-soc";

    @include media(md) {
        padding: 0 30px 30px 30px;

        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: none;
    }

    @include media(lg-up) {
        padding: 40px;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        top: (-$footer-size-top) + 1px; //to avoid a transparent line between parent and this block
        height: $footer-size-top;
        background: color('grey-light');
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: (-$footer-size-top) + 1px; //to avoid a transparent line between parent and this block
        height: $footer-size-top;
        background: color('grey-light');
        display: none;

        @include media(lg-up) {
            display: block;
        }
    }

    &__text {
        margin-bottom: 15px;
    }

    &__title {
        font-family: $font-dinot-bold;
        font-size: 25px;
        text-transform: uppercase;

        @include media(lg-up) {
            font-size: 35px;
        }
    }

    &__description {
        grid-area: comunity-text;

        @include media(md) {
            grid-column: 1 / span 4;
        }
    }

    &__socials {
        grid-area: comunity-soc;
        margin-top: 20px;

        @include media(md) {
            grid-column: 6 / span 7;
            margin-top: 0;
        }
    }
}
