.footer-subscribe {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0;

    @include media(sm-down) {
        width: calc(100% - (#{$grid-column-gap-xs} * 2));
        margin: 0 auto;
    }

    @include media(md-up) {
        padding: 40px 0;
    }

    .subscribe {
        @include media(md) {
            display: grid;
            grid-column-gap: $grid-column-gap-sm;
            grid-template-columns: repeat(12, 1fr);
        }

        .subscribe__title {
            @include media(md) {
                grid-column: 1 / span 5;
                padding-left: 18px;
            }
        }


        .subscribe-group {
            @include media(md) {
                grid-column: 6 / span 7;
            }
        }

        &.m-step-2 {
            @include media(md) {
                display: block; // overwrite display: grid;
            }

            .l-grid-1-1-2-2-2-3 {
                gap: 20px 10px;
            }
        }

        &.m-step-3 {
            @include media(md) {
                display: block; // overwrite display: grid;
            }
        }
    }
}
