.footer__back-to-top {
    display: none;

    @include media(lg-up) {
        display: flex;
        position: sticky;
        justify-content: flex-end;
        top: 0;
        width: 50px;
        margin-bottom: -80px;
        margin-left: calc(100% - 80px);
        padding-top: 30px;
    }
}
