.footer__nav {
    &:first-child {
        margin-bottom: 60px;
    }

    &-title {
        margin: 0;
    }

    &-button {
        @include media(md-up) {
            display: none;
        }
    }

    &-heading {
        display: none;

        @include media(md-up) {
            display: block;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
    }

    &-content {
        @include media(md-up) {
            &:not(.show) {
                display: block;
            }
        }
    }

    &-item {
        margin-bottom: 20px;
    }

    &-link {
        &:hover {
            color: color('white');
        }
    }

    &-contact-us {
        display: flex;
        align-items: center;

        span {
            padding-left: 12px;
        }
    }
}
