.l-header {
    @include grid;

    @include media(md-down) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    @include media(lg-up) {
        grid-template-columns: repeat(12, 1fr);
    }

    &__mobile {
        @include grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;

        @include media(md-down) {
            padding-left: $wrapper-padding-xs * 2;
            padding-right: $wrapper-padding-xs * 2;
        }

        @include media(lg-up) {
            display: none;
        }
    }

    &__logo {
        display: none;

        @include media(lg-up) {
            @include grid;
        }
    }

    &__main {
        @include grid;

        @include media(lg-up) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            row-gap: 20px
        }
    }

    &__top {
        @include grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "info cust-service";

        @include media(md-down) {
            grid-row-start: 2;

            padding-left: $wrapper-padding-xs * 3;
            padding-right: $wrapper-padding-xs * 3;
        }
    }

    &__bottom {
        @include grid;

        @include media(lg-up) {
            grid-template-columns: repeat(11, 1fr);
        }
    }

    .m-logo {
        @include media(lg-up) {
            grid-area: logo;
            grid-column: 1 / span 1;
        }
    }

    .m-header-main {
        @include media(lg-up) {
            grid-area: header-main;
            grid-column: 2 / span 11;
            padding-left: 32px;
        }
    }

    .m-info {
        // grid-area: info;
    }

    .m-cust-service {
        // grid-area: cust-service;
    }

    .m-menu-search {
        @include media(lg-up) {
            grid-area: menu-search;
            grid-column: 1 / span 8;
        }
    }

    .m-user-stuff {
        @include media(md-down) {
            padding-left: $wrapper-padding-xs * 3;
            padding-right: $wrapper-padding-xs * 3;
        }

        @include media(lg-up) {
            grid-area: user-stuff;
            grid-column: 9 / span 3;
        }
    }
}

