.l-messages {
    @include grid;
    grid-template-columns: 1fr;

    &.m-dark {
        background: color('black');
        color: color('white');
    }

    &.m-grey {
        background: color('grey-light');
        color: color('grey-deep');
    }

    &.m-coockies {
        font-family: $font-dinot-medium;
        font-size: 16px;
        background: color('grey-deep');
        color: color('white');
    }
}
