.l-pdp {
    &__top {
        position: relative;

        @include media(lg-up) {
            display: flex;
        }

        &-product-view {
            flex-basis: 60%;
            flex-shrink: 0;
            position: relative;
        }

        &-product-details {
            flex-grow: 1;

            @include media(xs) {
                padding-left: $wrapper-padding-xs;
                padding-right: $wrapper-padding-xs;
            }

            @include media(sm) {
                padding-left: $wrapper-padding-sm;
                padding-right: $wrapper-padding-sm;
            }

            @include media(md-down) {
                padding-top: 20px;
            }

            @include media(md) {
                padding-left: $wrapper-padding-md;
                padding-right: $wrapper-padding-md;
            }

            @include media(lg-up) {
                padding-left: 80px;
            }
        }
    }
}


