@mixin input-text {
    display: block;
    appearance: none;
    background: none;
    border: 0;
    font-family: $font-open-sans;
    font-weight: normal;
    font-size: 16px;
    vertical-align: baseline;
    width: 100%;
    transition: $motion-ease;
    transition-property: border-color;

    &::placeholder {
        font-size: inherit;
        color: #a1a8b2;
    }

    &:focus {
        outline: none;
    }
}
