@each $type in $inputs {
    .input-#{$type} {
        @include input($type);

        &.m-invalid {
            @include input-invalid;
        }
    }
}

.form {
    &__section {
        margin-bottom: 25px;
    }

    &__label {
        display: flex;
        font-size: 14px;
        line-height: 1.67;
        margin-bottom: 10px;
    }

    &__section-required {
        margin-right: 5px;
        font-size: 16px;
        font-weight: 600;
        color: #d71a53;
    }
}
