$inputs: ('main' 'select');
$inputs-theme: ('dark');

@mixin input($type) {
    @include input-text;

    @if ($type == 'main') {
        cursor: text;
        color: #000000;
        background-color: rgba(255, 255, 255, .4);
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        border: 1px solid #e3e3e3;

        &:hover {
            border-bottom: 2px solid #a1a8b2;
        }

        &:focus {
            border-bottom: 2px solid #000000;
        }

        &:disabled,
        &.m-disabled {
            color: #a1a8b2;
            background-color: rgba(161, 168, 170, .2);
            border-color: transparent;
            pointer-events: none;
        }
    }

    @if ($type == 'select') {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #e3e3e3;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='9' viewBox='0 0 14 9'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg stroke='%23333'%3E%3Cpath d='M1 1L7 7 13 1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 5px center;
        background-size: 14px;
        padding-right: 40px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:focus {
            border-bottom: 2px solid #000000;
        }
    }

    @if index($inputs, $type) == null {
        @warn 'Invalid argumment $type: `#{$type}`. Possible types: [#{$inputs}]';
    }
}

@mixin input-invalid {
    border-bottom: 2px solid #e51755;
}
