.header__mobile {
    height: 70px;

    &-buttons {
        .burger {
            display: block;
        }

        .close {
            display: none;
        }
    }

    &.open {

        & ~ .header__main {
            height: calc(100vh - var(--header-top-height));
        }

        .header__mobile-buttons {
            .burger {
                display: none;
            }

            .close {
                display: block;
            }
        }
    }
}
