.header__main {

    @include media(md-down) {
        height: 0;
        overflow-y: scroll;
        transition: height $motion-ease;
        //the height's formula is written in the 'header-mobile.scss' file
    }

    &.m-menu-expanded {

        @include media(md-down) {
            .header__top,
            .header__search-mobile,
            .l-header__user-staff {
                display: none;
            }
        }

        .menu__list.m-level-1 {
            @include media(md-down) {
                position: absolute;
            }
        }

        .menu__body {
            @include media(md-down) {
                height: calc(100vh - var(--header-top-height) - 30px);
            }
        }
    }
}
