.header__user-staff {
    display: flex;

    @include media(md-down) {
        margin-bottom: 20px;
        border-bottom: 1px solid color('grey-light');
    }

    @include media(lg-up) {
        justify-content: flex-end;
    }

    .user-staff {
        &__list {
            @include media(md-down) {
                margin-bottom: 30px;
            }
        }

        &__item {
            &:not(:last-child){
                @include media(md-down) {
                    margin-bottom: 10px;
                }
            }

            &--cart {
                @include media(md-down) {
                    display: none;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;

            @include media(md-down) {
                height: 40px;
            }
        }

        &__link-text {
            @include media(md-down) {
                padding-left: 10px;
                font-family: $font-dinot-medium;
                font-size: 16px;
                color: color('grey-deep');
            }
        }
    }
}

.user-staff {

    &__list {
        display: flex;

        @include media(md-down) {
            flex-direction: column;
        }
    }

    &__item {

        &:not(.user-staff__item--cart) {
            margin-right: 40px;
        }

        [class*=icon-] {
            font-size: 20px;
        }

        &--cart {
            @include media(md-down) {
                display: inline-flex;
                justify-content: flex-end;
                align-items: center;
            }

            .cart-filled {
                display: none;
            }

            &.m-filled {
                .cart {
                    display: none;
                }

                .cart-filled {
                    display: flex;
                }
            }

            .item-cart-number {
                font-size: 12px;
                padding-left: 5px;
            }
        }

        &--store {
            @include media(lg-up) {
                display: none;
            }
        }
    }

    &__link-text {
        @include media(lg-up) {
            display: none;
        }
    }
}
