.header__top {
    color: color('grey-deep');

    @include media(md-down) {
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        font-family: $font-dinot-medium;
        font-size: 16px;
    }

    @include media(lg-up) {
        font-size: 14px;
    }
}
