ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.menu {
    font-size: 16px;
    font-family: 'DINOT-Medium', sans-serif;
    text-transform: uppercase;
    color: color('black');

    &__link {
        color: inherit;
        text-decoration: none;
    }
}

@media (max-width: 1024px) {

    .menu {

        $root: &;

        &__body {
            position: relative;
            overflow: hidden;
        }

        &__list.m-level-1,
        &__list.m-level-2,
        &__list.m-level-3 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all .5s ease-out;
            background-color: white;
        }

        &__list.m-level-2,
        &__list.m-level-3 {
            transform: translateX(100%);
        }

        &__list.m-level-1,
        &__list.m-level-2 {

            #{$root}__item {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);

                    // arrow-right
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%238f9090' fill-rule='evenodd' d='M11.94 10L6.47 4.53l1.06-1.061 6 6c.293.293.293.768 0 1.06l-6 6-1.06-1.06 5.47-5.47z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
                }
            }
        }

        &__list {
            &.m-show-level-1,
            &.m-show-level-2 {
                position: relative;
                margin-bottom: 40px;
                font-size: 20px;
                text-transform: uppercase;
                transform: translateX(0);
                color: color('grey-super-deep');

                #{$root}__item {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }

                #{$root}__tags {
                    display: none;
                }
            }
        }

        &__list {
            &.m-show-level-2 {
                transform: translateX(-100%);
                position: relative;

                .menu__list.m-level-2 {
                    position: static;
                    padding-bottom: 120px;
                }

                #{$root}__tags {
                    display: flex;
                    width: 100%;
                    position: absolute;
                    overflow-x: auto;
                    bottom: 0;
                    left: 0;
                    height: 80px;

                    scrollbar-color: #d4aa70 #e4e4e4;
                    scrollbar-width: thin;

                    &::-webkit-scrollbar {
                        height: 4px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: color('grey-deep-light');
                        // border-radius: 100px;
                    }

                    &::-webkit-scrollbar-thumb {
                        // border-radius: 100px;
                        background: color('grey-super-deep');
                    }
                }
            }
        }

        &__list {
            &.m-show-level-3 {
                transform: translateX(-200%);
                position: relative;

                .menu__list.m-level-3 {
                    margin-bottom: 0;
                    font-size: 16px;
                    text-transform: capitalize;
                    color: color('grey-super-deep');

                    #{$root}__item {
                        &:not(:last-child) {
                            margin-bottom: 25px;
                        }

                        &:after {
                            display: none;
                        }
                    }
                }

                #{$root}__tags {
                    display: none;
                }
            }
        }
    }
}


@media (min-width: 1025px) {

    .menu {
        $root: &;

        &__dropdown-content {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            display: flex;
            overflow: hidden;
            height: 0;
            overflow: hidden;
            opacity: 0;
            background: color('white');
            // border-top: 1px solid #cbcccc;
            transform: translateY(-10px);
            transition: all .3s;
            background: aliceblue;
        }

        &__list {
            &.m-level-1 {
                display: flex;
            }
        }

        &__list.m-level-1  {
            & > #{$root}__item {
                margin-right: 50px;
                padding-bottom: 17px;
                border-bottom: 2px solid transparent;
                transition: all .1s ease;
            }
        }

        &__list.m-level-1  {
            & > #{$root}__item:hover {
                border-bottom: 2px solid color('black');
            }
        }

        &__list {
            &.m-level-2 {
                display: inline-flex;
                flex-grow: 1;
                flex-direction: column;
                padding-top: 50px;
                padding-bottom: 120px;
                outline: 1px solid gold;
            }
        }

        &__list.m-level-1 &__item:hover >  {

            #{$root}__dropdown-content {
                height: auto;
                opacity: 1;
                transform: translateY(0);
                z-index: 3;
            }
        }

        &__list {
            &.m-level-2  {
                #{$root}__item {
                    font-size: 25px;
                    margin-bottom: 30px;
                    color: #717272;
                }
            }
        }

        &__list {
            &.m-level-2  {
                #{$root}__item {
                    &:hover {
                        color: color('black');

                        .menu__banner.m-subcategory {
                            display: block;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        &__list {
            &.m-level-2 {
                #{$root}__item {
                    &:hover {
                        #{$root}__list.m-level-3 {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        &__item {
            &:hover  {
                & > #{$root}__list.m-level-2 {
                    height: auto;
                    opacity: 1;
                    transform: translateY(0);
                    z-index: 3;
                    transition: all .3s ease;
                }
            }
        }

        &__list {
            &.m-level-3 {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                width: 100%;
                height: 100%;
                padding-top: 50px;
                left: 320px;
                top: 0;
                transition: all .3s ease;
                z-index: 2;
            }
        }

        &__list {
            &.m-level-3  {
                #{$root}__item {
                    font-size: 16px;
                    margin-bottom: 15px;
                    color: #717272;
                    text-transform: capitalize;

                    &:last-child {
                        display: inline-flex;
                        padding-top: 20px;
                        margin-top: 15px;
                        border-top: 1px solid color('grey-deep-light');
                    }
                }
            }
        }

        &__list {
            &.m-level-3 {
                #{$root}__item {
                    &:hover {
                        color: color('black');

                        .menu__banner.m-subcategory {
                            display: block;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        &__link {
            display: block;
        }
    }
}

.menu {
    &__tags {
        position: absolute;
        display: flex;
        font-size: 16px;
        text-transform: capitalize;
        color: color('black');

        @include media(md-down) {
            transform: translateX(100%);
        }

        @include media(lg-up) {
            left: 0;
            bottom: 50px;
        }
    }

    &__tags-item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__tags-link {
        display: block;
        white-space: nowrap;
        padding: 15px;
        border: 1px solid color('grey-deep-light');
        background-color: color('white');
    }
}

.menu__banner {
    @include media(md-down) {
        display: none;
    }

    @include media(lg-up) {
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;

        &.m-subcategory {
            display: none;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            height: 100%;
            background-color: darkmagenta;
            z-index: 3;
        }
    }
}
