.menu {

    $root: &;

    font-size: 16px;
    font-family: $font-dinot-medium;
    text-transform: uppercase;
    color: color('black');

    &__body {
        @include media(md-down) {
            position: relative;
            overflow: hidden;
            height: 100%;
        }
    }

    &__list {
        &.m-level-1 {
            @include media(md-down) {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all $motion-ease-in-out;
            }

            @include media(lg-up) {
                display: flex;
            }

            #{$root}__item {
                &:hover,
                &.m-touch-hover {
                    #{$root}__dropdown {
                        @include media(lg-up) {
                            height: auto;
                            opacity: 1;
                            transform: translateY(0);
                            z-index: 3;
                        }
                    }
                }
            }

            & > #{$root}__item {
                @include media(lg-up) {
                    margin-right: 50px;
                    padding-bottom: 17px;
                    border-bottom: 2px solid transparent;
                    transition: all $motion-ease-in-out;
                }

                &:hover,
                &.m-touch-hover {
                    @include media(lg-up) {
                        border-bottom: 2px solid color('black');
                    }
                }
            }
        }

        &.m-level-2 {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;

            @include media(md-down) {
                display: none;

                width: 100%;
                transform: translateX(100%);
                overflow-y: auto;
                overflow-x: hidden;
                transition: all $motion-ease-in-out;
            }

            @include media(lg-up) {
                width: calc(50% - (#{$wrapper-padding-lg} / 2));
                display: inline-flex;
                flex-grow: 1;
                flex-direction: column;
                padding-top: 50px;
                padding-bottom: 120px;
                font-size: 25px;
                color: color('grey-super-deep');
                overflow: hidden;
                outline: 1px solid gold;
            }

            @include media(xl) {
                width: calc(50% - (#{$wrapper-padding-xl} / 2));
            }

            @include media(xxl) {
                width: calc(50% - (#{$wrapper-padding-xxl} / 2));
            }

            &.m-active {
                @include media(md-down) {
                    display: block;
                }
            }

            #{$root}__item {
                @include media(lg-up) {
                    margin-bottom: 30px;
                }

                &:hover,
                &.m-touch-hover {
                    @include media(lg-up) {
                        color: color('black');

                        #{$root}__list.m-level-3 {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        &.m-level-3 {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            font-size: 16px;
            text-transform: capitalize;
            color: color('grey-super-deep');
            transition: all $motion-ease-in-out;
            background: color('white');

            @include media(md-down) {
                left: 0;
                margin-bottom: 0;
                transform: translateX(100%);
                overflow-y: auto;
                overflow-x: hidden;
            }

            @include media(lg-up) {
                opacity: 0;
                visibility: hidden;
                left: 330px;
                width: calc(100% - 330px);
                padding-top: 50px;
                padding-right: 30px;

                z-index: 2;
            }

            @include media(lg) {
                width: 50%;
               left: 50%;
            }


            #{$root}__item {
                @include media(lg-up) {
                    margin-bottom: 15px;
                }

                &:not(:last-child) {
                    @include media(md-down) {
                        margin-bottom: 25px;
                    }
                }

                &:last-child {
                    display: flex;
                    padding-top: 20px;
                    margin-top: 30px;
                    border-top: 1px solid color('grey-deep-light');
                }

                &:after {
                    @include media(md-down) {
                        display: none;
                    }
                }
            }
        }

        &.m-show-level-1 {
            @include media(md-down) {
                margin-bottom: 40px;
                font-size: 20px;
                text-transform: uppercase;
                transform: translateX(0);
                color: color('grey-super-deep');
            }

            #{$root}__item {
                &:not(:last-child) {
                    @include media(md-down) {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        &.m-show-level-2 {
            @include media(md-down) {
                margin-bottom: 40px;
                font-size: 20px;
                text-transform: uppercase;
                transform: translateX(-100%);
                color: color('grey-super-deep');
            }

            #{$root}__item {
                &:not(:last-child) {
                    @include media(md-down) {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        &.m-show-level-3 {
            @include media(md-down) {
                transform: translateX(-200%);
            }

            .m-level-2 {
                @include media(md-down) {
                    overflow: visible;
                }
            }
        }
    }

    &__item {
        @include media(md-down) {
            margin-left: $wrapper-padding-xs * 3;
            margin-right: $wrapper-padding-xs * 3;
        }

        &:hover,
        &.m-touch-hover {
            @include media(lg-up) {
                & > #{$root}__list.m-level-2 {
                    height: auto;
                    opacity: 1;
                    transform: translateY(0);
                    z-index: 3;
                    transition: all $motion-ease-in-out;
                }
            }
        }

        .m-back {
            // TODO: better to show/hide with a if-else help, not css
            @include media(lg-up) {
                display: none;
            }
        }
    }

    &__item-back {
        @include media(md-down) {
            font-size: 14px;
            padding-left: 25px;
            position: relative;
            color: inherit;
        }

        &:before {
            @include media(md-down) {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                //arrow-left
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23717272' fill-rule='evenodd' d='M8.06 10l5.47 5.469-1.06 1.06-6-6c-.293-.293-.293-.767 0-1.06l6-6 1.06 1.06L8.06 10z' clip-rule='evenodd'/%3E%3C/svg%3E");
                background-position: left center;
            }
        }
    }

    &__link {
        color: inherit;
        text-decoration: none;

        @include media(md-down) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        // TODO: better to show/hide with a if-else help, not css
        i {
            @include media(lg-up) {
                display: none;
            }
        }
    }

    &__tags-wrap {
        @include media(md-down) {
            position: relative;
            height: 80px;
            overflow: hidden;
            margin-left: $wrapper-padding-xs * 3;
        }
    }

    &__tags {
        position: absolute;
        display: flex;
        font-size: 16px;
        text-transform: capitalize;
        color: color('black');
        z-index: 3;

        @include media(md-down) {
            width: 100%;
            position: absolute;
            overflow-x: auto;
            bottom: 0;
            left: 0;
            height: 100%;

            scrollbar-color: #d4aa70 #e4e4e4;
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                height: 4px;
            }

            &::-webkit-scrollbar-track {
                background-color: color('grey-deep-light');
            }

            &::-webkit-scrollbar-thumb {
                background: color('grey-super-deep');
            }
        }

        @include media(lg-up) {
            left: 0;
            bottom: 50px;
        }
    }

    &__tags-item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__tags-link {
        display: block;
        white-space: nowrap;
        padding: 15px;
        border: 1px solid color('grey-deep-light');
        background-color: color('white');
    }

    &__dropdown {
        background-color: color('white');

        @include media(lg-up) {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            overflow: hidden;
            height: 0;
            opacity: 0;
            transform: translateY(-10px);
            transition: all $motion-ease-in-out;
        }
    }

    &__dropdown-content {
        @include media(lg-up) {
            display: flex;
            justify-content: flex-end;
            position: relative;
            height: calc(100vh - var(--header-top-height));
            background: color('white');
        }

        @include media(md-down) {
            overflow-y: scroll;
        }
    }

    &__banner {
        @include media(md-down) {
            display: none;
        }

        @include media(lg-up) {
            width: 75%;
            height: 100%;
        }

        img {
            width: 100%;
            object-fit: cover;
        }

        &.m-subcategory {
            @include media(lg-up) {
                width: calc(50% + (#{$wrapper-padding-lg} / 2));
            }

            @include media(xl) {
                width: calc(50% + (#{$wrapper-padding-xl} / 2));
            }

            @include media(xxl) {
                width: calc(50% + (#{$wrapper-padding-xxl} / 2));
            }
        }
    }
}
