ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.menu {
    font-size: 16px;
    font-family: 'DINOT-Medium', sans-serif;
    text-transform: uppercase;
    color: color('black');

    &__link {
        color: inherit;
        text-decoration: none;
    }
}

@media (max-width: 1024px) {

    .menu {

        $root: &;

        &__body {
            // overflow: hidden;
            // position: absolute;
            // top: 0;
            // left: 0;
            // width: 100%;
            // height: 100%;
            // z-index: 2;
            position: relative;
            overflow: hidden;
        }

        &__list.m-level-1,
        &__list.m-level-2,
        &__list.m-level-3 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all .5s ease-out;
            background-color: white;
        }

        &__list.m-level-2,
        &__list.m-level-3 {
            transform: translateX(100%);
        }

        &__list.m-level-1,
        &__list.m-level-2 {

            #{$root}__item {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);

                    // arrow-right
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%238f9090' fill-rule='evenodd' d='M11.94 10L6.47 4.53l1.06-1.061 6 6c.293.293.293.768 0 1.06l-6 6-1.06-1.06 5.47-5.47z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
                }
            }
        }

        &__list {
            &.m-show-level-1 {
                position: relative;
                margin-bottom: 40px;
                font-size: 20px;
                text-transform: uppercase;
                transform: translateX(0);
                color: color('grey-super-deep');

                #{$root}__item {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        &__list {
            &.m-show-level-2 {
                transform: translateX(-100%);
                position: relative;
            }
        }

        &__list {
            &.m-show-level-3 {
                transform: translateX(-200%);
                position: relative;
            }
        }

        &__list.m-level-2 {
            background: mediumpurple;
        }


        &__list.m-level-3 {
            background: midnightblue;
        }
    }
}


@media (min-width: 1025px) {

    .menu {
        $root: &;

        &__list {
            &.m-level-1 {
                display: flex;
                position: relative;
            }
        }

        &__list.m-level-1  {
            & > #{$root}__item {
                margin-right: 50px;
                padding-bottom: 17px;
                border-bottom: 2px solid transparent;
                transition: all .1s ease;
            }
        }

        &__list.m-level-1  {
            & > #{$root}__item:hover {
                border-bottom: 2px solid color('black');
            }
        }

        &__list {
            &.m-level-2 {
                position: absolute;
                left: 0;
                top: 100%;
                height: 0;
                overflow: hidden;
                opacity: 0;
                width: 320px;
                background: color('white');
                transform: translateY(18px);
                transition: all .3s ease;
                z-index: 2;
            }
        }

        &__list.m-level-1 &__item:hover  {
            #{$root}__list.m-level-2 {
                overflow: visible;
                padding-top: 30px;
            }
        }

        &__list {
            &.m-level-2  {
                #{$root}__item {
                    font-size: 25px;
                    margin-bottom: 30px;
                    color: #717272;
                }
            }
        }

        &__list {
            &.m-level-2  {
                #{$root}__item {
                    &:hover {
                        color: color('black');
                    }
                }
            }
        }

        &__list {
            &.m-level-2 {
                #{$root}__item {
                    &:hover {
                        #{$root}__list.m-level-3 {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        &__item {
            &:hover  {
                & > #{$root}__list.m-level-2 {
                    height: auto;
                    opacity: 1;
                    transform: translateY(0);
                    z-index: 3;
                    transition: all .3s ease;
                }
            }
        }

        &__list {
            &.m-level-3 {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                width: 100%;
                height: 100%;
                padding-top: 30px;
                left: 320px;
                top: 0;
                transition: all .3s ease;
                z-index: 2;
            }
        }

        &__list {
            &.m-level-3  {
                #{$root}__item {
                    font-size: 16px;
                    margin-bottom: 15px;
                    color: #717272;
                    text-transform: capitalize;
                }
            }
        }

        &__list {
            &.m-level-3 {
                #{$root}__item {
                    &:hover {
                        color: color('black');
                    }
                }
            }
        }
    }
}
