.product-actions {
    display: flex;
    flex-direction: column;

    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        [class*="icon-"] {
            margin-left: 8px;
        }
    }
}
