.product-details {
    &__group {

    }

    &__share {
        position: absolute;
        right: 0;
    }

    &__rating {
        margin-bottom: 20px;
    }

    &__title {
        @include media(lg-up) {
            color: color('black');
            font-family: $font-dinot-medium;
            font-size: 30px;
            line-height: 1.17;
            margin-bottom: 40px;
        }
    }

    &__price-group {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 40px;
    }

    &__taxes {
        font-family: $font-dinot;
        font-size: 14px;
        color: color('grey-deep');
    }

    &__colors {
        margin-bottom: 30px;
    }

    &__sizes {
        margin-bottom: 22px;
    }

    &__available {
        margin-bottom: 22px;
    }

    &__message {
        margin-bottom: 20px;
    }

    &__actions {
        margin-bottom: 40px;
    }
}


