.product-details {
    &__group {
        @include media(md-down) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
    }

    &__share {
        position: absolute;
        top: -40px;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__rating {

        &.m-mobile {
            @include media(lg-up) {
                display: none;
            }
        }

        &.m-desktop {
            margin-bottom: 12px;

            @include media(md-down) {
                display: none;
            }
        }
    }

    &__title {
        color: color('black');
        font-family: $font-dinot-medium;
        font-size: 18px;
        line-height: 1.39;
        margin-bottom: 12px;

        @include media(lg-up) {
            font-size: 30px;
            line-height: 1.17;
            margin-bottom: 40px;
        }
    }

    &__text {
        @include media(md-down) {
            display: none;
        }

        @include media(lg-up) {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    &__price-group {
        display: flex;
        align-items: flex-end;

        @include media(md-down) {
            flex-direction: column;
        }

        @include media(lg-up) {
            justify-content: space-between;
            margin-bottom: 40px;
        }

        .product-price {
            @include media(md-down) {
                flex-direction: column;
            }

            &.m-large {
                .product-price__item {
                    @include media(md-down) {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
            }

            &__item {
                &.m-old {
                    @include media(md-down) {
                        font-family: $font-dinot;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &__taxes {
        font-family: $font-dinot;
        font-size: 14px;
        color: color('grey-deep');
    }

    &__colors {
        margin-bottom: 40px;

        .product-colors {
            &__list {
                @include media(md-down) {
                    flex-wrap: nowrap;
                    overflow-x: auto;
                }

                @include media(xs) {
                    margin-right: -$wrapper-padding-xs;
                }

                @include media(sm) {
                    margin-right: -$wrapper-padding-sm;
                }

                @include media(md) {
                    margin-right: -$wrapper-padding-md;
                }
            }

            &__item {
                padding-bottom: 10px;
            }
        }
    }

    &__sizes {
        margin-bottom: 22px;
    }

    &__available-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__available {

    }

    &__remind {
        display: flex;
        cursor: pointer;

        &-icon {
            font-size: 20px;
            color: color('grey-mid');
        }

        &-text {
            font-size: 16px;
            margin-left: 10px;
        }
    }

    &__message {
        font-family: $font-dinot-medium;
        font-size: 16px;
        margin-bottom: 20px;
    }

    &__action {
        margin-bottom: 40px;
    }

    &__action-group {
        font-family: $font-dinot-medium;
        font-size: 15px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;

        [class*="icon"] {
            font-size: 20px;
        }

        &-item {
            display: flex;
            align-items: center;

            .icon-wrap,
            .save-in-wishlist__icon.m-default {
                color: color('grey-mid');
            }

            .icon-wrap {
                padding-right: 10px;
            }
        }
    }

    &__info {
        margin-bottom: 20px;
    }

    &__delivery-details {
        font-family: $font-dinot-medium;
        font-size: 16px;
        text-decoration: underline;
    }
}


