.product-available {
    font-family: $font-dinot-medium;
    font-size: 12px;
    text-transform: uppercase;

    &__item {
        display: flex;
        align-items: center;

        &-text {
            display: inline-block;
            margin-left: 5px;
        }

        &-icon {
            font-size: 20px;
            line-height: 20px;
        }
    }

    // .out-of-stock {
    //     display: none;
    // }

    // &.m-not-available {
    //     .in-stock {
    //         display: none;
    //     }

    //     .out-of-stock {
    //         display: flex;
    //     }
    // }
}
